extends templates/layout.pug

block preBody
    -(bodyClasses.push('index-body'))

block append footerscripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='https://cdn.emailjs.com/sdk/2.3.2/email.min.js')
    script(src='./public/javascripts/homepage.js')

block content
    main(role='main')
        section.intro-section.alt
            section.hero-section
                .logo-container
                    img.logo(src='./public/images/logo.png')
                    h1 Zo&euml; Clarno
                    h2 Senior Web Developer
                .hero-container
                    div.hero-image
            article.about-me
                h3 About Me
                hr.separator-line
                p
                    | I am a self-taught, dedicated full-stack developer looking to consistently challenge myself and contribute to a community. I am passionate about improving my skills through collaboration and enjoy helping other developers improve and develop their own skills. As a self-taught developer, I have overcome a lot of challenges, which has made me a great asset in training others. It has also increased my passion for learning new technologies and solutions.
                p
                    | I flourish when using code to solve dynamic problems with well documented solutions in easily maintainable and adaptable ways. In addition to code reviews and streamlining processes to save people time. I have both helped maintain existing websites as well as lead projects to add features using current technologies. Helping grow new standards, practices, and processes is fulfilling and has made me invaluable to various teams.
                p
                    | When not working I like to spend my time playing board games, especially those with beautiful artwork, and going for hikes in many of the state and national parks available nearby. I also enjoy cooking, which provides me with a creative outlet to find interesting solutions to a more analog set of problems.
                a.site-button(href='./public/Resume-ZoeClarno.pdf') View Resume
        section.portfolio-section
            h3 Portfolio
            hr.separator-line
            each project in PROJECTS.projects
                article.project-container
                    h4= project.title
                    div!= project.description
                    .project-asset-container
                        if project.assets.desktop
                            .project-desktop-asset
                                img(src=project.assets.desktop)
                        if project.assets.tablet
                            .project-tablet-asset
                                img(src=project.assets.tablet)
                        if project.assets.mobile
                            .project-mobile-asset
                                img(src=project.assets.mobile)
                    .project-tags
                        each tag in project.skills
                            .tag
                                .tag-text= tag
                    if project.view
                        a.site-button(href=project.view target='_blank' rel='nofollow') View Website
                    else if project.noView
                        .project-no-view= project.noView
        section.why-me-section.alt
            h3 Why Me?
            hr.separator-line
            .why-me-container
                each why, key in WHYME.list
                    article.why-me
                        h4= why.title
                        p= why.description
                    if WHYME.list[key + 1] && (key + 1) % 2 === 0
                        .why-me-separator
        section.skills-section
            h3 Skills
            hr.separator-line
            each skillset in SKILLS.skills
                article.skills-item-container(class=skillset.tags ? 'skill-tags' : 'skill-check')
                    h4= skillset.name
                    .skill-items
                        each skill in skillset.items
                            .skill
                                .skill-text= skill
        section.contact-me-section.alt
            section
                h4 Contact Me
                hr.separator-line
                form(novalidate)
                    input(type='text', name='cf_name', placeholder='Name', required)
                    input(type='email', name='cf_email', placeholder='Email Address', required)
                    textarea(name='cf_message', placeholder='Message', required)
                    .g-recaptcha(data-sitekey='6LedySUTAAAAACQVHcxOxwr_Ib23Mh9fDTWxEnQb')
                    button.site-button Submit
            section.references-container

        footer
            .social-media-links
                a(href='https://github.com/pixilz' target='_blank' rel='nofollow')
                    i.fa.fa-github-square(aria-hidden='true')
                a(href='https://www.linkedin.com/in/zo%C3%AB-clarno-74048871/' target='_blank' rel='nofollow')
                    i.fa.fa-linkedin-square(aria-hidden='true')
            a.source-code-link(href='https://github.com/pixilz/Portfolio' target='_blank' rel='nofollow')
                | View Source on GitHub
            .copyright-text Copyright &copy; #{new Date().getFullYear()} Zo&euml; Clarno
