extends templates/layout.pug

block preBody
    -(bodyClasses.push("indexBody"))

block append scripts

block append footerscripts
    script(type='text/javascript',src='/javascripts/homepage.js')
    script(src="https://www.google.com/recaptcha/api.js")

block header
    include includes/loader.pug
    #header.navbar.navbar-inverse.navbar-fixed-top.center
        .navbar-inner
            ul.nav.navbar-nav
                li
                    a(href='#section-intro')
                        i.material-icons &#xE7FD;
                li
                    a(href='#section-examples')
                        i.material-icons &#xE333;
                li
                    a(href='#section-resume')
                        i.material-icons &#xE0E0;
                li
                    a(href='#section-skills')
                        i.material-icons &#xE6C4;
                li
                    a(href='#section-contactme')
                        i.material-icons &#xE0D8;

block content
    #content.container-fluid
        .row.main-row
            .col-xs-12
                #section-intro
                    #logo-section
                        img.img-responsive.image-spacing(src='/images/logo.png')
                        h1.h1-heading Zo&euml; Clarno
                        h2.h2-heading Web + Software Developer
                    #section-profileImage
                        div
                            img.img-responsive.hero(src="/images/hero.jpg")
        .row.main-row.dark.container-spacing
            #section-about-col.col-xs-12
                .row
                    #section-about.container-spacing
                        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                            .section-title.h3-heading.section
                                span About Me
                            hr.main-row-title-line.separator-line
                        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                            .section-text.body-text.section
                                | I am a young and dedicated professional developer looking to consistently chanllenge myself and contribute to a community. I enjoy learning new topics and pick up on things quickly. I spend most of my time playing games and researching various personal projects. I have recently started participating in the open source community, contributing to largely used projects such as the Atom Text Editor.
                        .col-xs-12
                            br
                            br
                        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                            a.aboutSectionBtn.site-button(href='/Resume') View Resume
        .row.main-row.portfolio-row.container-spacing
            .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                .main-row-title.h3-heading Portfolio / My Projects
                hr.main-row-title-line.separator-line
                each project in pObj.projects
                    .project-container
                        .project-title.body-title= project.title
                        hr.main-row-title-line
                        .project-asset-container
                            if project.assets.desktop
                                .project-desktop-asset
                                    img(src=project.assets.desktop)
                            if project.assets.tablet
                                .project-tablet-asset
                                    img(src=project.assets.tablet)
                            if project.assets.mobile
                                .project-mobile-asset
                                    img(src=project.assets.mobile)
                        .project-description.body-text!= project.description
                        .project-tags
                            each tag in project.skills
                                .item-tag
                                    .tag-text= tag
                        if project.view
                            a.project-view-btn.site-button(href=project.view target="_blank" rel="nofollow") View
                        else if project.noView
                            .project-no-view= project.noView
        .row.main-row.why-me-row.container-spacing
            .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                .main-row-title.section-title.h3-heading.section Why Me?
                hr.main-row-title-line.separator-line
                .why-me-box-title.section-title.body-title.section
                .row
                    each why, key in whyMe.list
                        .col-xs-12.col-md-6
                            .why-me-box
                                .why-me-box-title.section-title.body-title.section.no-spacing= why.title
                                .why-me-box-description.section-title.body-text.section= why.description
                        if whyMe.list[key+1] && (key + 1) % 2 == 0
                            .col-xs-12
                                .row
                                    .col-xs-12.col-md-6
                                        hr.why-me-line-row.separator-line
                                    .col-xs-12.col-md-6.hidden-xs.hidden-sm
                                        hr.why-me-line-row.separator-line
                        else if whyMe.list[key+1]
                            .col-xs-12.hidden-md.hidden-lg
                                hr.why-me-line-row.separator-line
        .row.main-row.skills-row.container-spacing
            .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                .main-row-title.h3-heading Skills
                hr.main-row-title-line.separator-line
                each skillset in skills
                    div(class=skillset.tags ? "skills-item-container skill-tags" : "skills-item-container skill-check")
                        .skill-title.body-title #{skillset.name}
                        .skill-items
                            each skill in skillset.items
                                .skill
                                    .tag-text #{skill}
        .row.main-row.contact-row.container-spacing
            #contactMeSection.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                .row
                    .col-xs-12.col-sm-6
                        form.has-validation(action='javascript:void()')
                            input(type='text', name='cf_name', placeholder='Name', required)
                            input(type='email', name='cf_email', placeholder="Email Address", required)
                            textarea(name='cf_message', placeholder="Message", required)
                            .g-recaptcha(data-theme='dark', data-sitekey='6LefjRMUAAAAAEQaJj_IX_xqhgmBcEwioGgIhRXM')
                            .submitBtn Submit
                    .col-xs-12.col-sm-6
                        .references-container
                            .references-title.body-title.section References
                            hr.main-row-title-line.separator-line
                            each ref in references
                                .reference
                                    p.reference-text.body-text.section!= ref.text
                                    a.reference-author.body-text.section(href=ref.authorLink rel='nofollow')!= ref.author
                            //-.reference
                                p.reference-text.body-text.section ipsum aliqua velit cillum malis quem labore amet eram export tempor legam illum fore culpa export multos veniam nisi fore aliqua legam esse summis export quem fore quorum duis illum
                                .reference-author.body-text.section A Latin Guy
                            //-.reference
                                p.reference-text.body-text.section multos noster quae cillum tempor quis summis elit nisi enim dolor illum legam amet dolor cillum duis duis labore ipsum sint dolor fore legam sint cillum sint aliqua nisi nulla
                                .reference-author.body-text.section Dog Fist Blotzcrunk
        .row.footer-row
            .footer-container
                .footer-container-row
                    .row
                        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                            .row
                                .col-xs-12.col-md-4.col-md-push-8
                                    .social-media-links
                                        a(href='https://twitter.com/PetalDoe' target="_blank" rel="nofollow")
                                            i.fa.fa-twitter-square(aria-hidden="true")
                                        a(href='https://github.com/pixilz' target="_blank" rel="nofollow")
                                            i.fa.fa-github-square(aria-hidden="true")
                                        a(href='https://www.linkedin.com/in/zo%C3%AB-clarno-74048871/' target="_blank" rel="nofollow")
                                            i.fa.fa-linkedin-square(aria-hidden="true")
                                .col-xs-12.col-md-4
                                    a.source-code-link(href="https://github.com/pixilz/Portfolio" target="_blank" rel="nofollow")
                                        |View Source on GitHub
                                .col-xs-12.col-md-4.col-md-pull-8
                                    .copyright-text
                                        |Copyright &copy; #{year} Zo&euml; Clarno
                                .clearfix
